[project]
	description = Iptables ban script, thinked with OpenBL in mind
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcos (animalillo)
[access "refs/for/refs/*"]
	read = group user/Marcos (animalillo)
	push = group user/Marcos (animalillo)
	label-Code-Review = -2..+2 group user/Marcos (animalillo)
	label-Verified = -1..+1 group user/Marcos (animalillo)
	rebase = group user/Marcos (animalillo)
	removeReviewer = group user/Marcos (animalillo)
	submit = group user/Marcos (animalillo)
[access "refs/heads/*"]
	read = group user/Marcos (animalillo)
	create = group user/Marcos (animalillo)
	push = +force group user/Marcos (animalillo)
	pushMerge = group user/Marcos (animalillo)
[access "refs/tags/*"]
	push = +force group user/Marcos (animalillo)
	pushTag = group user/Marcos (animalillo)
	pushSignedTag = group user/Marcos (animalillo)
